# WEB SCRAPING ASSIGNMENT 4

1.Scrape the details of most viewed videos on YouTube from Wikipedia.
Url = https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos
You need to find following details:
A) Rank
B) Name
C) Artist
D) Upload date
E) Views

In [1]:
#installing selenium package
!pip install selenium

Requirement already satisfied: selenium in c:\users\tadis\anaconda3\lib\site-packages (4.9.1)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\tadis\anaconda3\lib\site-packages (from selenium) (2022.9.14)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\tadis\anaconda3\lib\site-packages (from selenium) (0.10.2)
Requirement already satisfied: trio~=0.17 in c:\users\tadis\anaconda3\lib\site-packages (from selenium) (0.22.0)
Requirement already satisfied: urllib3[socks]<3,>=1.26 in c:\users\tadis\anaconda3\lib\site-packages (from selenium) (1.26.11)
Requirement already satisfied: cffi>=1.14 in c:\users\tadis\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.1)
Requirement already satisfied: async-generator>=1.9 in c:\users\tadis\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: idna in c:\users\tadis\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.3)
Requirement already satisfied: sortedcontainers in c:\users\tadis\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: outcome in c:\users\tadis\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: sniffio in c:\users\tadis\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: attrs>=19.2.0 in c:\users\tadis\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.4.0)
Requirement already satisfied: exceptiongroup>=1.0.0rc9 in c:\users\tadis\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.1.1)
Requirement already satisfied: wsproto>=0.14 in c:\users\tadis\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\tadis\anaconda3\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\users\tadis\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\tadis\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [2]:
#importing required libraries
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

In [3]:
#connect to the driver
driver = webdriver.Chrome(r"C:\Users\tadis\OneDrive\Desktop\FRT Internship\chromedriver_win32\chromedriver.exe")

In [29]:
#opening shine webite
driver.get("https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos")
time.sleep(1)

In [30]:
rank = []
name = []
artist = []
upload_date = []
views = []

In [31]:
#scraping data of RANK
rank_no= driver.find_elements(By.XPATH,"//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[1]")
for i in rank_no:
    rank.append(i.text)

In [32]:
len(rank)

30

In [33]:
#scraping data of names
names = driver.find_elements(By.XPATH,"//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[2]")
for i in names:
    name.append(i.text)

In [34]:
len(name)

30

In [35]:
#scraping data of artist
artists = driver.find_elements(By.XPATH,"//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[3]")
for i in artists:
    artist.append(i.text)

In [36]:
len(artist)

30

In [37]:
#scraping the detais of date
date = driver.find_elements(By.XPATH,"//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[5]")
for i in date:
    upload_date.append(i.text)

In [38]:
len(upload_date)

30

In [39]:
#scraping the detais of views
view = driver.find_elements(By.XPATH,"//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[4]")
for i in view:
    views.append(i.text)

In [40]:
len(views)

30

In [41]:
import pandas as pd
df = pd.DataFrame({'Rank' : rank, 'Name' : name, 'Artist' : artist, 'Upload Date' : upload_date, 'Views' : views})

In [42]:
df

,Rank,Name,Artist,Upload Date,Views
0,1.,"""Baby Shark Dance""[4]",Pinkfong Baby Shark - Kids' Songs & Stories,"June 17, 2016",12.85
1,2.,"""Despacito""[7]",Luis Fonsi,"January 12, 2017",8.16
2,3.,"""Johny Johny Yes Papa""[14]",LooLoo Kids,"October 8, 2016",6.70
3,4.,"""Bath Song""[15]",Cocomelon – Nursery Rhymes,"May 2, 2018",6.20
4,5.,"""Shape of You""[16]",Ed Sheeran,"January 30, 2017",6.00
5,6.,"""See You Again""[19]",Wiz Khalifa,"April 6, 2015",5.89
6,7.,"""Phonics Song with Two Words""[24]",ChuChu TV,"March 6, 2014",5.30
7,8.,"""Wheels on the Bus""[25]",Cocomelon – Nursery Rhymes,"May 24, 2018",5.24
8,9.,"""Uptown Funk""[26]",Mark Ronson,"November 19, 2014",4.92
9,10.,"""Learning Colors – Colorful Eggs on a Farm""[27]",Miroshka TV,"February 27, 2018",4.89
10,11.,"""Gangnam Style""[28]",Psy,"July 15, 2012",4.80
11,12.,"""Masha and the Bear – Recipe for Disaster""[33]",Get Movies,"January 31, 2012",4.55
12,13.,"""Dame Tu Cosita""[34]",El Chombo,"April 5, 2018",4.35
13,14.,"""Axel F""[35]",Crazy Frog,"June 16, 2009",3.91
14,15.,"""Sugar""[36]",Maroon 5,"January 14, 2015",3.87
15,16.,"""Roar""[37]",Katy Perry,"September 5, 2013",3.80
16,17.,"""Counting Stars""[38]",OneRepublic,"May 31, 2013",3.79
17,18.,"""Sorry""[39]",Justin Bieber,"October 22, 2015",3.66
18,19.,"""Baa Baa Black Sheep""[40]",Cocomelon – Nursery Rhymes,"June 25, 2018",3.64
19,20.,"""Thinking Out Loud""[41]",Ed Sheeran,"October 7, 2014",3.60
20,21.,"""Waka Waka (This Time for Africa)""[42]",Shakira,"June 4, 2010",3.59
21,22.,"""Dark Horse""[43]",Katy Perry,"February 20, 2014",3.52
22,23.,"""Lakdi Ki Kathi""[44]",Jingle Toons,"June 14, 2018",3.48
23,24.,"""Faded""[45]",Alan Walker,"December 3, 2015",3.45
24,25.,"""Perfect""[46]",Ed Sheeran,"November 9, 2017",3.45
25,26.,"""Let Her Go""[47]",Passenger,"July 25, 2012",3.44
26,27.,"""Girls Like You""[48]",Maroon 5,"May 31, 2018",3.42
27,28.,"""Humpty the train on a fruits ride""[49]",Kiddiestv Hindi – Nursery Rhymes & Kids Songs,"January 26, 2018",3.41
28,29.,"""Lean On""[50]",Major Lazer,"March 22, 2015",3.38
29,30.,"""Bailando""[51]",Enrique Iglesias,"April 11, 2014",3.38

2.Scrape the details teamIndia’sinternationalfixtures from bcci.tv. 
Url = https://www.bcci.tv/.
You need to find following details:
A) Match title (I.e. 1stODI)
B) Series
C) Place
D) Date
E) Time
Note: - From bcci.tv home page you have reach to the international fixture page through code.

In [63]:
#connect to the driver
driver = webdriver.Chrome(r"C:\Users\tadis\OneDrive\Desktop\FRT Internship\chromedriver_win32\chromedriver.exe")

In [64]:
#opening shine webite
driver.get("https://www.bcci.tv/")

In [65]:
match_title = []
series = []
place = []
date = []
time_note = []

In [67]:
#click on international
international=driver.find_element(By.XPATH,"/html/body/nav/div[1]/div[2]/ul[1]/li[2]/a")
international.click()

In [68]:
# click on fixtures
fixtures= driver.find_element(By.XPATH,"/html/body/div[2]/div[1]/div/ul/li[1]/a")
fixtures.click()

In [71]:
#Scraping Match_title
title = driver.find_elements(By.XPATH,"//div[@class='match-card-middle__inner d-flex justify-content-between']")
for i in title:
    match_title.append(i.text)

In [72]:
match_title

['West Indies\nvs\nIndia',
 'West Indies\nvs\nIndia',
 'West Indies\nvs\nIndia',
 'West Indies\nvs\nIndia',
 'West Indies\nvs\nIndia',
 'West Indies\nvs\nIndia',
 'West Indies\nvs\nIndia',
 'West Indies\nvs\nIndia']

In [73]:
#Scraping Series
series_info= driver.find_elements(By.XPATH,"//span[@class='matchOrderText ng-binding ng-scope']")
for i in series_info:
    series.append(i.text)

In [74]:
series

['1st Test -',
 '2nd Test -',
 '1st ODI -',
 '2nd ODI -',
 '3rd ODI -',
 '1st T20I -',
 '2nd T20I -',
 '3rd T20I -']

In [75]:
#Scraping place
places = driver.find_elements(By.XPATH,"//div[@class='match-place ng-scope']")
for i in places:
    place.append(i.text)

In [76]:
place

['1st Test - Windsor Park, Dominica',
 "2nd Test - Queen's Park Oval, Trinidad",
 '1st ODI - Kensington Oval, Barbados',
 '2nd ODI - Kensington Oval, Barbados',
 '3rd ODI - Brian Lara Stadium, Trinidad',
 '1st T20I - Brian Lara Stadium, Trinidad',
 '2nd T20I - National Stadium, Guyana',
 '3rd T20I - National Stadium, Guyana']

In [77]:
#Scraping Match_title
date_info = driver.find_elements(By.XPATH,"//div[@class='match-dates ng-binding']")
for i in date_info:
    date.append(i.text)

In [78]:
date

['12 JUL 2023',
 '20 JUL 2023',
 '27 JUL 2023',
 '29 JUL 2023',
 '1 AUG 2023',
 '3 AUG 2023',
 '6 AUG 2023',
 '8 AUG 2023']

In [79]:
#Scraping time 
time = driver.find_elements(By.XPATH,"//div[@class='match-time no-margin ng-binding']")
for i in time:
    time_note.append(i.text)

In [80]:
time_note

['3:00 PM BST',
 '3:00 PM BST',
 '2:30 PM BST',
 '2:30 PM BST',
 '2:30 PM BST',
 '3:30 PM BST',
 '3:30 PM BST',
 '3:30 PM BST']

In [81]:
import pandas as pd
df = pd.DataFrame({'Match' : match_title, 'Series' : series, 'Place' : place, 'Date' : date, 'Time' : time_note})

In [82]:
df

,Match,Series,Place,Date,Time
0,West Indies\nvs\nIndia,1st Test -,"1st Test - Windsor Park, Dominica",12 JUL 2023,3:00 PM BST
1,West Indies\nvs\nIndia,2nd Test -,"2nd Test - Queen's Park Oval, Trinidad",20 JUL 2023,3:00 PM BST
2,West Indies\nvs\nIndia,1st ODI -,"1st ODI - Kensington Oval, Barbados",27 JUL 2023,2:30 PM BST
3,West Indies\nvs\nIndia,2nd ODI -,"2nd ODI - Kensington Oval, Barbados",29 JUL 2023,2:30 PM BST
4,West Indies\nvs\nIndia,3rd ODI -,"3rd ODI - Brian Lara Stadium, Trinidad",1 AUG 2023,2:30 PM BST
5,West Indies\nvs\nIndia,1st T20I -,"1st T20I - Brian Lara Stadium, Trinidad",3 AUG 2023,3:30 PM BST
6,West Indies\nvs\nIndia,2nd T20I -,"2nd T20I - National Stadium, Guyana",6 AUG 2023,3:30 PM BST
7,West Indies\nvs\nIndia,3rd T20I -,"3rd T20I - National Stadium, Guyana",8 AUG 2023,3:30 PM BST

3.Scrape the details of State-wise GDP ofIndia fromstatisticstime.com. 
Url = http://statisticstimes.com/
You have to find following details:
A) Rank
B) State
C) GSDP(18-19)- at current prices
D) GSDP(19-20)- at current prices
E) Share(18-19)
F) GDP($ billion)
Note: - From statisticstimes home page you have to reach to economy page through code.

In [112]:
#connect to the driver
driver = webdriver.Chrome(r"C:\Users\tadis\OneDrive\Desktop\FRT Internship\chromedriver_win32\chromedriver.exe")

In [113]:
#opening statistics times webite
driver.get("https://www.statisticstimes.com/")
time.sleep(1)

In [114]:
# clicking on Economy button
driver.find_element(By.XPATH,"//div[@class='navbar']/div[2]/button").click()

In [115]:
# clicking on India
driver.find_element(By.XPATH,"//div[@class='dropdown-content']/a[3]").click()
time.sleep(3)

In [117]:
# clicking on GDP of Indian Economy
GDP = driver.find_element(By.XPATH,"/html/body/div[2]/div[2]/div[2]/ul/li[1]/a").click()
time.sleep(3)

In [118]:
rank = []
state = []
GSDP1 = []
GSDP2 = []
share = []
GDP_billion = []

In [119]:
# scraping Rank
try:
    for i in driver.find_elements(By.XPATH,"//table[@class='display dataTable']/tbody/tr/td[1]"):
        rank.append(i.text)
except NoSuchElementException:
    rank.append("_")

In [120]:
# scraping State
try:
    for i in driver.find_elements(By.XPATH,"//table[@class='display dataTable']/tbody/tr/td[2]"):
        state.append(i.text)
except NoSuchElementException:
    state.append("_")

In [122]:
# scraping GSDP at current price (19-20)
try:
    for i in driver.find_elements(By.XPATH,"//table[@class='display dataTable']/tbody/tr/td[3]"):
        GSDP1.append(i.text)
except NoSuchElementException:
    GSDP1.append("_")

In [123]:
# scraping GSDP at current price (18-19)
try:
    for i in driver.find_elements(By.XPATH,"//table[@class='display dataTable']/tbody/tr/td[4]"):
        GSDP2.append(i.text)
except NoSuchElementException:
    GSDP2.append("_")

In [124]:
# scraping Share (18-19)
try:
    for i in driver.find_elements(By.XPATH,"//table[@class='display dataTable']/tbody/tr/td[5]"):
        share.append(i.text)
except NoSuchElementException:
    share.append("_")

In [125]:
# scraping GDP $ billion
try:
    for i in driver.find_elements(By.XPATH,"//table[@class='display dataTable']/tbody/tr/td[6]"):
        GDP_billion.append(i.text)
except NoSuchElementException:
    GDP_billion.append("_")

In [126]:
import pandas as pd
df = pd.DataFrame({'Rank' : rank , 'State' : state, 'GSDP1' : GSDP1 , 'GSDP2' : GSDP2, 'Share' : share, 'GDP_billion' : GDP_billion })

In [127]:
df

   Rank                      State      GSDP1      GSDP2   Share GDP_billion
0     1                Maharashtra          -  2,632,792  13.94%     399.921
1     2                 Tamil Nadu  1,845,853  1,630,208   8.63%     247.629
2     3              Uttar Pradesh  1,687,818  1,584,764   8.39%     240.726
3     4                    Gujarat          -  1,502,899   7.96%     228.290
4     5                  Karnataka  1,631,977  1,493,127   7.91%     226.806
..  ...                        ...        ...        ...     ...         ...
61   29                     Sikkim     28,391     25,141   0.15%      17,060
62   30                   Nagaland          -     24,534   0.15%           -
63   31          Arunachal Pradesh          -     22,488   0.13%           -
64   32                    Mizoram     24,424     20,947   0.13%      17,797
65   33  Andaman & Nicobar Islands          -          -       -           -

[66 rows x 6 columns]

4.Scrape the details of trending repositories on Github.com. 
Url = https://github.com/
You have to find the following details:
A) Repository title
B) Repository description
C) Contributors count
D) Language used
Note: - From the home page you have to click on the trending option from Explore menu through code.

In [19]:
#connect to the dri#connect to the driver
driver = webdriver.Chrome(r"C:\Users\tadis\OneDrive\Desktop\FRT Internship\chromedriver_win32\chromedriver.exe")

In [20]:
#opening statistics times webite
driver.get("https://github.com/")
time.sleep(1)

In [21]:
# getting explore button and clicking on it
explore = driver.find_element(By.XPATH,"/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[3]/button").click()

In [22]:
# selecting trending option
trend_url = driver.find_element(By.XPATH,"/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[3]/div/div[3]/ul/li[2]/a")
urls = trend_url.get_attribute("href")
driver.get(urls)

In [23]:
# creating empty list
URLs = []
repository_title = []
description = []
contributors = []
language = []
lang = []

In [24]:
# fetching urls for each repository
repository = driver.find_elements(By.XPATH,"//h2[@class = 'h3 lh-condensed']/a ")
for i in repository:
    URLs.append(i.get_attribute("href"))

# scraping Repository title data
title = driver.find_elements(By.XPATH,"//h2[@class = 'h3 lh-condensed']/a ")
for i in title:
    repository_title.append(i.text)

In [25]:
# scraping Repository description
desc = driver.find_elements(By.XPATH,"//h2[@class = 'h3 lh-condensed']/a ")
for i in desc:
    description.append(i.text)

In [26]:
len(description)

25

In [28]:
for i in URLs:
    driver.get(i)
    time.sleep(5)
    
    #Scraping contributors count-

    try:

        cont_tags = driver.find_element(By.XPATH,"//span[@class='Counter ml-1']")

        contributors.append(cont_tags.text.replace('Contributors',''))

    except NoSuchElementException:

        contributors.append('-')
    
# scraping Languages used data
    try:
        for i in driver.find_elements(By.XPATH,"//ul[@class= 'list-style-none']//li//span[1]"):
            lang.append(i.text)
        language.append(lang)
    except NoSuchElementException:
        language.append('-')

In [29]:
len(contributors)

25

In [30]:
len(language)

25

In [33]:
import pandas as pd
df = pd.DataFrame({'Git Link' : URLs , 'Repository Title' : repository_title, 'Description' : description , 'Contributors' : contributors, 'Language' : language })

In [34]:
df

,Git Link,Repository Title,Description,Contributors,Language
0,https://github.com/XingangPan/DragGAN,XingangPan / DragGAN,XingangPan / DragGAN,,"[Python, Cuda, C++, Other\n0.3%, Other, Python..."
1,https://github.com/THUDM/ChatGLM2-6B,THUDM / ChatGLM2-6B,THUDM / ChatGLM2-6B,,"[Python, Cuda, C++, Other\n0.3%, Other, Python..."
2,https://github.com/CASIA-IVA-Lab/FastSAM,CASIA-IVA-Lab / FastSAM,CASIA-IVA-Lab / FastSAM,,"[Python, Cuda, C++, Other\n0.3%, Other, Python..."
3,https://github.com/ramonvc/freegpt-webui,ramonvc / freegpt-webui,ramonvc / freegpt-webui,3,"[Python, Cuda, C++, Other\n0.3%, Other, Python..."
4,https://github.com/embedchain/embedchain,embedchain / embedchain,embedchain / embedchain,,"[Python, Cuda, C++, Other\n0.3%, Other, Python..."
5,https://github.com/spacedriveapp/spacedrive,spacedriveapp / spacedrive,spacedriveapp / spacedrive,64,"[Python, Cuda, C++, Other\n0.3%, Other, Python..."
6,https://github.com/xitanggg/open-resume,xitanggg / open-resume,xitanggg / open-resume,,"[Python, Cuda, C++, Other\n0.3%, Other, Python..."
7,https://github.com/papers-we-love/papers-we-love,papers-we-love / papers-we-love,papers-we-love / papers-we-love,,"[Python, Cuda, C++, Other\n0.3%, Other, Python..."
8,https://github.com/sadmann7/skateshop,sadmann7 / skateshop,sadmann7 / skateshop,,"[Python, Cuda, C++, Other\n0.3%, Other, Python..."
9,https://github.com/microsoft/Web-Dev-For-Begin...,microsoft / Web-Dev-For-Beginners,microsoft / Web-Dev-For-Beginners,,"[Python, Cuda, C++, Other\n0.3%, Other, Python..."
10,https://github.com/sb-ocr/diy-spacemouse,sb-ocr / diy-spacemouse,sb-ocr / diy-spacemouse,,"[Python, Cuda, C++, Other\n0.3%, Other, Python..."
11,https://github.com/THUDM/ChatGLM-6B,THUDM / ChatGLM-6B,THUDM / ChatGLM-6B,,"[Python, Cuda, C++, Other\n0.3%, Other, Python..."
12,https://github.com/SizheAn/PanoHead,SizheAn / PanoHead,SizheAn / PanoHead,,"[Python, Cuda, C++, Other\n0.3%, Other, Python..."
13,https://github.com/PlexPt/awesome-chatgpt-prom...,PlexPt / awesome-chatgpt-prompts-zh,PlexPt / awesome-chatgpt-prompts-zh,,"[Python, Cuda, C++, Other\n0.3%, Other, Python..."
14,https://github.com/firstcontributions/first-co...,firstcontributions / first-contributions,firstcontributions / first-contributions,"5,000+","[Python, Cuda, C++, Other\n0.3%, Other, Python..."
15,https://github.com/actualbudget/actual,actualbudget / actual,actualbudget / actual,,"[Python, Cuda, C++, Other\n0.3%, Other, Python..."
16,https://github.com/xtekky/gpt4free,xtekky / gpt4free,xtekky / gpt4free,83,"[Python, Cuda, C++, Other\n0.3%, Other, Python..."
17,https://github.com/sveltejs/svelte,sveltejs / svelte,sveltejs / svelte,,"[Python, Cuda, C++, Other\n0.3%, Other, Python..."
18,https://github.com/OpenGVLab/DragGAN,OpenGVLab / DragGAN,OpenGVLab / DragGAN,9,"[Python, Cuda, C++, Other\n0.3%, Other, Python..."
19,https://github.com/OpenDriveLab/UniAD,OpenDriveLab / UniAD,OpenDriveLab / UniAD,6,"[Python, Cuda, C++, Other\n0.3%, Other, Python..."
20,https://github.com/qgis/QGIS,qgis / QGIS,qgis / QGIS,26,"[Python, Cuda, C++, Other\n0.3%, Other, Python..."
21,https://github.com/chat2db/Chat2DB,chat2db / Chat2DB,chat2db / Chat2DB,,"[Python, Cuda, C++, Other\n0.3%, Other, Python..."
22,https://github.com/Kanaries/pygwalker,Kanaries / pygwalker,Kanaries / pygwalker,11,"[Python, Cuda, C++, Other\n0.3%, Other, Python..."
23,https://github.com/ggerganov/ggml,ggerganov / ggml,ggerganov / ggml,,"[Python, Cuda, C++, Other\n0.3%, Other, Python..."
24,https://github.com/StanGirard/quivr,StanGirard / quivr,StanGirard / quivr,,"[Python, Cuda, C++, Other\n0.3%, Other, Python..."

5.Scrape the details of Highest sellingnovels.
Url = https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-greycompare
You have to find the following details:
A) Book name
B) Author name
C) Volumes sold
D) Publisher
E) Genre

In [52]:
#connect to the dri#connect to the driver
driver = webdriver.Chrome(r"C:\Users\tadis\OneDrive\Desktop\FRT Internship\chromedriver_win32\chromedriver.exe")

In [53]:
url = "https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare/"
driver.get(url)
time.sleep(6)
driver.maximize_window()

In [54]:
# creating empty lists for scraping data
book_name=[]
author_name=[]
volumes_sold=[]
publisher=[]
genre=[]

In [55]:
# Scraping Book_name
Book_name=driver.find_elements(By.XPATH,"//table[@class='in-article sortable']/tbody/tr/td[2]")
for i in Book_name:
    if i.text is None:
        book_name.append('--')
    else:
        book_name.append(i.text)

In [57]:
# Scraping Author_name
Author_name=driver.find_elements(By.XPATH,"//table[@class='in-article sortable']/tbody/tr/td[3]")
for i in Author_name:
    if i.text is None:
        author_name.append('--')
    else:
        author_name.append(i.text)

In [58]:
# Scraping Volumes_sold
Volumes_sold=driver.find_elements(By.XPATH,"//table[@class='in-article sortable']/tbody/tr/td[4]")
for i in Volumes_sold:
    if i.text is None:
        volumes_sold.append('--')
    else:
        volumes_sold.append(i.text)

In [59]:
# Scraping Author_name
Publisher=driver.find_elements(By.XPATH,"//table[@class='in-article sortable']/tbody/tr/td[5]")
for i in Publisher:
    if i.text is None:
        publisher.append('--')
    else:
        publisher.append(i.text)

In [60]:
Genre=driver.find_elements(By.XPATH,"//table[@class='in-article sortable']/tbody/tr/td[6]")
for i in Genre:
    if i.text is None:
        genre.append('--')
    else:
        genre.append(i.text)

In [61]:
import pandas as pd
df = pd.DataFrame({'Book Name' : book_name  , 'Author Name' : author_name, 'Volumes Sold' : volumes_sold , 'Publisher' : publisher, 'Genre' : genre})

In [62]:
df

,Book Name,Author Name,Volumes Sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

6.Scrape the details most watched tv series of all time from imdb.com. 
Url = https://www.imdb.com/list/ls095964455/
You have to find the following details:
A) Name
B) Year span
C) Genre
D) Run time
E) Ratings
F) Votes

In [118]:
#connect to the driver
driver = webdriver.Chrome(r"C:\Users\tadis\OneDrive\Desktop\FRT Internship\chromedriver_win32\chromedriver.exe")

In [119]:
#opening statistics times webite
driver.get("https://www.imdb.com/list/ls095964455/")
time.sleep(1)

In [120]:
# creating empty lists
name = []
year_span = []
genre = []
run_time = []
ratings = []
votes = []

In [121]:
# scraped data of Names
for i in driver.find_elements(By.XPATH,"//h3[@class='lister-item-header']/a"):
    name.append(i.text)

In [122]:
# scraped data of Year span
for i in driver.find_elements(By.XPATH,"//span[@class='lister-item-year text-muted unbold']"):
    year_span.append(i.text)

In [123]:
# scraped data of Genre
for i in driver.find_elements(By.XPATH,"//span[@class='genre']"):
    genre.append(i.text)

In [124]:
# scraped data of Run time
for i in driver.find_elements(By.XPATH,"//span[@class='runtime']"):
    run_time.append(i.text)

In [125]:
# scraped data of Ratings
for i in driver.find_elements(By.XPATH,"//div[@class='ipl-rating-star small']//span[2]"):
    ratings.append(i.text)

In [126]:
# scraped data of Votes
for i in driver.find_elements(By.XPATH,"//div[@class='lister-item-content']//p[4]/span[2]"):
    votes.append(i.text)

In [131]:
len(votes)

100

In [132]:
import pandas as pd
df = pd.DataFrame({'Name' : name, 'Year Span' : year_span, 'Genre' : genre, 'Run Time' : run_time, 'Ratings' : ratings, 'Votes' : votes})

In [133]:
df

,Name,Year Span,Genre,Run Time,Ratings,Votes
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",57 min,9.2,"2,172,901"
1,Stranger Things,(2016–2024),"Drama, Fantasy, Horror",51 min,8.7,"1,250,858"
2,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",44 min,8.1,"1,032,108"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.5,"303,468"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"262,657"
...,...,...,...,...,...,...
95,Reign,(2013–2017),Drama,42 min,7.4,"51,940"
96,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",50 min,7.8,"63,979"
97,Criminal Minds,(2005– ),"Crime, Drama, Mystery",42 min,8.1,"208,486"
98,Scream: The TV Series,(2015–2019),"Comedy, Crime, Drama",45 min,7.1,"43,381"
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,8.6,"260,019"

8.Details of Datasets from UCI machine learning repositories. 
Url = https://archive.ics.uci.edu/
You have to find the following details:
A) Dataset name
B) Data type
C) Task
D) Attribute type
E) No of instances
F) No of attribute
G) Year
Note: - from the home page you have to go to the ShowAllDataset page through code

In [109]:
#connect to the driver
driver = webdriver.Chrome(r"C:\Users\tadis\OneDrive\Desktop\FRT Internship\chromedriver_win32\chromedriver.exe")

In [110]:
#opening statistics times website
driver.get("https://archive.ics.uci.edu/")
time.sleep(1)

In [111]:
# fetching view all dataset button from the webpage
viewall_dataset = driver.find_element(By.XPATH,"/html/body/div/div[1]/div[1]/main/div/div[1]/div/div/div/a[1]")
page_url = viewall_dataset.get_attribute("href")
driver.get(page_url)
time.sleep(3)

In [112]:
# fetching urls for each dataset
dataset_url = driver.find_elements(By.XPATH,"//a[@class='link-hover link text-xl font-semibold']")

urls = []
for i in dataset_url:
    urls.append(i.get_attribute("href"))

In [113]:
urls

['https://archive.ics.uci.edu/dataset/53/iris',
 'https://archive.ics.uci.edu/dataset/45/heart+disease',
 'https://archive.ics.uci.edu/dataset/2/adult',
 'https://archive.ics.uci.edu/dataset/602/dry+bean+dataset',
 'https://archive.ics.uci.edu/dataset/34/diabetes',
 'https://archive.ics.uci.edu/dataset/545/rice+cammeo+and+osmancik',
 'https://archive.ics.uci.edu/dataset/109/wine',
 'https://archive.ics.uci.edu/dataset/19/car+evaluation',
 'https://archive.ics.uci.edu/dataset/17/breast+cancer+wisconsin+diagnostic',
 'https://archive.ics.uci.edu/dataset/73/mushroom']

In [114]:
dataset_name=[]
data_type=[]
task=[]
attribute_type=[]
no_of_instances=[]
no_of_attribute=[]
year=[]

In [115]:
for i in urls:
    driver.get(i)
    time.sleep(3)
    
    
    # scraping  Dataset name
    try:
        for i in driver.find_elements(By.XPATH,"//h1[@class='text-3xl font-semibold text-primary-content']"):
            dataset_name.append(i.text)
    except NoSuchElementException:
        dataset_name.append('-')
        
    try:
        data = driver.find_element(By.XPATH,"//div[@class='grid grid-cols-8 gap-4 md:grid-cols-12']")
        if data.text == "N/A": raise NoSuchElementException
        data_type.append(data.text)
    except NoSuchElementException:
        data_type.append('-')
    time.sleep(3)

In [101]:
data_type

['Dataset Characteristics\nMultivariate\nSubject Area\nLife Science\nAssociated Tasks\nClassification\nAttribute Type\nReal\n# Instances\n150\n# Attributes\n4',
 'Dataset Characteristics\nMultivariate\nSubject Area\nLife\nAssociated Tasks\nClassification\nAttribute Type\nCategorical, Integer, Real\n# Instances\n303\n# Attributes\n13',
 'Dataset Characteristics\nMultivariate\nSubject Area\nSocial\nAssociated Tasks\nClassification\nAttribute Type\nCategorical, Integer\n# Instances\n48842\n# Attributes\n14',
 'Dataset Characteristics\nMultivariate\nSubject Area\nComputer\nAssociated Tasks\nClassification\nAttribute Type\nInteger, Real\n# Instances\n13611\n# Attributes\n17',
 'Dataset Characteristics\nMultivariate, Time-Series\nSubject Area\nLife\nAssociated Tasks\n-\nAttribute Type\nCategorical, Integer\n# Instances\n-\n# Attributes\n20',
 'Dataset Characteristics\nMultivariate\nSubject Area\nComputer\nAssociated Tasks\nClassification\nAttribute Type\nReal\n# Instances\n3810\n# Attributes\n8',
 'Dataset Characteristics\nMultivariate\nSubject Area\nPhysical\nAssociated Tasks\nClassification\nAttribute Type\nInteger, Real\n# Instances\n178\n# Attributes\n13',
 'Dataset Characteristics\nMultivariate\nSubject Area\nOther\nAssociated Tasks\nClassification\nAttribute Type\nCategorical\n# Instances\n1728\n# Attributes\n6',
 'Dataset Characteristics\nMultivariate\nSubject Area\nLife\nAssociated Tasks\nClassification\nAttribute Type\nReal\n# Instances\n569\n# Attributes\n30',
 'Dataset Characteristics\nMultivariate\nSubject Area\nLife\nAssociated Tasks\nClassification\nAttribute Type\nCategorical\n# Instances\n8124\n# Attributes\n22']

In [116]:
temp_urls=[]
for data_type in data_type:
    temp_urls.append(data_type.split('S+1'))
temp_urls

[['Dataset Characteristics\nMultivariate\nSubject Area\nLife Science\nAssociated Tasks\nClassification\nAttribute Type\nReal\n# Instances\n150\n# Attributes\n4'],
 ['Dataset Characteristics\nMultivariate\nSubject Area\nLife\nAssociated Tasks\nClassification\nAttribute Type\nCategorical, Integer, Real\n# Instances\n303\n# Attributes\n13'],
 ['Dataset Characteristics\nMultivariate\nSubject Area\nSocial\nAssociated Tasks\nClassification\nAttribute Type\nCategorical, Integer\n# Instances\n48842\n# Attributes\n14'],
 ['Dataset Characteristics\nMultivariate\nSubject Area\nComputer\nAssociated Tasks\nClassification\nAttribute Type\nInteger, Real\n# Instances\n13611\n# Attributes\n17'],
 ['Dataset Characteristics\nMultivariate, Time-Series\nSubject Area\nLife\nAssociated Tasks\n-\nAttribute Type\nCategorical, Integer\n# Instances\n-\n# Attributes\n20'],
 ['Dataset Characteristics\nMultivariate\nSubject Area\nComputer\nAssociated Tasks\nClassification\nAttribute Type\nReal\n# Instances\n3810\n# Attributes\n8'],
 ['Dataset Characteristics\nMultivariate\nSubject Area\nPhysical\nAssociated Tasks\nClassification\nAttribute Type\nInteger, Real\n# Instances\n178\n# Attributes\n13'],
 ['Dataset Characteristics\nMultivariate\nSubject Area\nOther\nAssociated Tasks\nClassification\nAttribute Type\nCategorical\n# Instances\n1728\n# Attributes\n6'],
 ['Dataset Characteristics\nMultivariate\nSubject Area\nLife\nAssociated Tasks\nClassification\nAttribute Type\nReal\n# Instances\n569\n# Attributes\n30'],
 ['Dataset Characteristics\nMultivariate\nSubject Area\nLife\nAssociated Tasks\nClassification\nAttribute Type\nCategorical\n# Instances\n8124\n# Attributes\n22']]

In [117]:
 import pandas as pd
df = pd.DataFrame({'Dataset Name' : dataset_name, 'Other Info' : temp_urls})

In [118]:
df

,Dataset Name,Other Info
0,Iris,[Dataset Characteristics\nMultivariate\nSubjec...
1,Heart Disease,[Dataset Characteristics\nMultivariate\nSubjec...
2,Adult,[Dataset Characteristics\nMultivariate\nSubjec...
3,Dry Bean Dataset,[Dataset Characteristics\nMultivariate\nSubjec...
4,Diabetes,"[Dataset Characteristics\nMultivariate, Time-S..."
5,Rice (Cammeo and Osmancik),[Dataset Characteristics\nMultivariate\nSubjec...
6,Wine,[Dataset Characteristics\nMultivariate\nSubjec...
7,Car Evaluation,[Dataset Characteristics\nMultivariate\nSubjec...
8,Breast Cancer Wisconsin (Diagnostic),[Dataset Characteristics\nMultivariate\nSubjec...
9,Mushroom,[Dataset Characteristics\nMultivariate\nSubjec...

9. Scrape the details of Data science recruiters Url = https://www.naukri.com/hr-recruiters-consultants
You have to find the following details: 
A) Name
B) Designation
C)Company 
D)Skills they hire for 
E) Location
Note: - From naukri.com homepage click on the recruiters option and the on the search pane type Data science and 
click on search. All this should be done through code

In [25]:
#connect to the driver
driver = webdriver.Chrome(r"C:\Users\tadis\OneDrive\Desktop\FRT Internship\chromedriver_win32\chromedriver.exe")

In [26]:
# Open naukri.com homepage
driver.get("https://www.naukri.com/hr-recruiters-consultants")

In [23]:
# fetching urls to navigate recruiter page
recruiter = driver.find_element(By.XPATH,"/html/body/div[1]/div[4]/div[1]/div/section[1]/div/div/div/div/div/div[1]/div/div[1]/div[5]/a")
page_url = recruiter.get_attribute("href")

driver.get(page_url)
time.sleep(3)