# ASSIGNMENT 2

# WEB SCRAPING USING SELENIUM

Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You 
have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10 
jobs data.
This task will be done in following steps:
1. First get the webpage https://www.naukri.com/
2. Enter “Data Analyst” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the 
location” field.
3. Then click the searchbutton.
4. Then scrape the data for the first 10 jobs results youget.
5. Finally create a dataframe of the scraped data.

In [1]:
#installing selenium package
!pip install selenium

Requirement already satisfied: selenium in c:\users\tadis\anaconda3\lib\site-packages (4.9.1)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\tadis\anaconda3\lib\site-packages (from selenium) (0.10.2)
Requirement already satisfied: trio~=0.17 in c:\users\tadis\anaconda3\lib\site-packages (from selenium) (0.22.0)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\tadis\anaconda3\lib\site-packages (from selenium) (2022.9.14)
Requirement already satisfied: urllib3[socks]<3,>=1.26 in c:\users\tadis\anaconda3\lib\site-packages (from selenium) (1.26.11)
Requirement already satisfied: exceptiongroup>=1.0.0rc9 in c:\users\tadis\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.1.1)
Requirement already satisfied: sniffio in c:\users\tadis\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: outcome in c:\users\tadis\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: async-generator>=1.9 in c:\users\tadis\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: attrs>=19.2.0 in c:\users\tadis\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.4.0)
Requirement already satisfied: sortedcontainers in c:\users\tadis\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: cffi>=1.14 in c:\users\tadis\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.1)
Requirement already satisfied: idna in c:\users\tadis\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.3)
Requirement already satisfied: wsproto>=0.14 in c:\users\tadis\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\tadis\anaconda3\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\users\tadis\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\tadis\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [2]:
#importing required libraries
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

In [498]:
#connect to the driver
driver = webdriver.Chrome(r"C:\Users\tadis\OneDrive\Desktop\FRT Internship\chromedriver_win32\chromedriver.exe")

In [501]:
#opening shine webite
driver.get("https://www.shine.com/")
time.sleep(1)

In [505]:
#if any popup after opening shine website
pop_up =driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div/div/button')
pop_up.click()
time.sleep(3)

In [507]:
#code lines to open the designation location fields after curser on search bar
search = driver.find_element(By.CLASS_NAME,"searchBarInput")
search.click()

In [508]:
# code lines to enter data analyst in the skill field
designation = driver.find_element(By.CLASS_NAME,"form-control  ")
designation.send_keys('Data Analyst')

In [509]:
# code lines to enter bangalore in the location field
location = driver.find_element(By.XPATH,"/html/body/div[1]/div[4]/div/div[2]/div[2]/div/form/div/div[1]/ul/li[2]/div/input")
location.send_keys('Bangalore')

In [511]:
#after selecting jobs related to data analyst jobs in bangalore 
search = driver.find_element(By.CLASS_NAME,"searchForm_btnWrap_advance__VYBHN")
search.click()

In [514]:
#wait to remove register popup
pop_up =driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/div[2]/div/div/button')
pop_up.click()

In [515]:
# initializing he variables to empty 
job_title=[]
job_location=[]
company_name=[]
experience_required=[]

In [516]:
#scraping data of job_title
title_tags = driver.find_elements(By.XPATH,'//h2[@itemprop="name"]')
for i in title_tags:
    job_title.append(i.text)

In [517]:
print(len(job_title))

20

In [518]:
job_title

['Data Analyst',
 'Data Analyst',
 'Data Analyst',
 'We have requirement for Data Analyst - Associate 2 - P& ...',
 'Data Analyst-Bangalore',
 'Cloud/D&A/Microsoft/AI - Data Analyst',
 'Endurance Data Analyst',
 'Consultant - Data Analyst - Data Analytics',
 'We have requirement for Client Data Analyst',
 'Urgent Requirement for Reference Data Analyst - Team Le ...',
 'Process and Data Analyst',
 'Client Data Analyst',
 'Invite for Client Data Analyst - Team Leader',
 'Ur. hiring Senior Data Analyst - Power BI/DataLake',
 'Data Analyst',
 'SAS Analyst',
 'Quality Data Analyst',
 'Clinical Data Analyst',
 'Data Analyst- Card Acquisition',
 'Reference Data Analyst']

In [519]:
#scraping data of job_location
locations = driver.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_locationIcon__zrWt2"]')
for i in locations:
    job_location.append(i.text)

In [520]:
print(len(job_location))

20

In [521]:
job_location

['Bangalore',
 'Bangalore',
 'Bangalore\n+1',
 'Bangalore',
 'Bangalore\n+1',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore\n+3',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore\n+4',
 'Bangalore',
 'Bangalore']

In [522]:
#scraping data of company_name
com_name = driver.find_elements(By.XPATH,'//div[@class="jobCard_jobCard_cName__mYnow"]')
for i in com_name:
    company_name.append(i.text)

In [523]:
print(len(company_name))

20

In [524]:
company_name

['acme services private limited',
 'acme services private limited',
 'orcapod consulting services pvt. lt...',
 'pricewaterhousecoopers (pwc)',
 'acura solutions.',
 'vega intellisoft private limited',
 'mercede',
 'pylon management consulting',
 'jpmorgan',
 'jpmorgan',
 'bosch group',
 'jpmorgan',
 'jpmorgan',
 'connectwise',
 'diverse lynx',
 'cyient limited',
 'schneider electric',
 'quiscon biotech',
 'jpmorgan',
 'jpmorgan']

In [525]:
#scraping data of experience_required
exp_req = driver.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_jobIcon__3FB1t"]')
for i in exp_req:
    experience_required.append(i.text)

In [526]:
print(len(experience_required))

20

In [527]:
experience_required

['2 to 5 Yrs',
 '2 to 5 Yrs',
 '2 to 4 Yrs',
 '4 to 6 Yrs',
 '4 to 6 Yrs',
 '4 to 8 Yrs',
 '1 to 5 Yrs',
 '4 to 5 Yrs',
 '5 to 8 Yrs',
 '2 to 4 Yrs',
 '3 to 11 Yrs',
 '5 to 8 Yrs',
 '3 to 11 Yrs',
 '4 to 6 Yrs',
 '5 to 7 Yrs',
 '2 to 5 Yrs',
 '5 to 10 Yrs',
 '0 to 2 Yrs',
 '2 to 4 Yrs',
 '3 to 5 Yrs']

In [528]:
import pandas as pd
df = pd.DataFrame({'Job Title': job_title,'Location' :  job_location,'Name of the company' : company_name,'Experience Required' : experience_required})
df[0:10]

,Job Title,Location,Name of the company,Experience Required
0,Data Analyst,Bangalore,acme services private limited,2 to 5 Yrs
1,Data Analyst,Bangalore,acme services private limited,2 to 5 Yrs
2,Data Analyst,Bangalore\n+1,orcapod consulting services pvt. lt...,2 to 4 Yrs
3,We have requirement for Data Analyst - Associa...,Bangalore,pricewaterhousecoopers (pwc),4 to 6 Yrs
4,Data Analyst-Bangalore,Bangalore\n+1,acura solutions.,4 to 6 Yrs
5,Cloud/D&A/Microsoft/AI - Data Analyst,Bangalore,vega intellisoft private limited,4 to 8 Yrs
6,Endurance Data Analyst,Bangalore,mercede,1 to 5 Yrs
7,Consultant - Data Analyst - Data Analytics,Bangalore,pylon management consulting,4 to 5 Yrs
8,We have requirement for Client Data Analyst,Bangalore,jpmorgan,5 to 8 Yrs
9,Urgent Requirement for Reference Data Analyst ...,Bangalore,jpmorgan,2 to 4 Yrs

Q2:Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You 
have to scrape the job-title, job-location, company_name. You have to scrape first 10 jobs data.
This task will be done in following steps:
1. First get the webpage https://www.naukri.com/
2. Enter “Data Scientist” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the 
location” field.
3. Then click the searchbutton.
4. Then scrape the data for the first 10 jobs results youget.
5. Finally create a dataframe of the scraped data.

In [474]:
#connect to the driver
driver = webdriver.Chrome(r"C:\Users\tadis\OneDrive\Desktop\FRT Internship\chromedriver_win32\chromedriver.exe")

In [475]:
#opening shine webite
driver.get("https://www.shine.com/")
time.sleep(1)

In [479]:
#if any popup after opening shine website
pop_up =driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div/div/button')
pop_up.click()
time.sleep(3)

In [481]:
#code lines to open the designation location fields after curser on search bar
search = driver.find_element(By.CLASS_NAME,"searchBarInput")
search.click()

In [482]:
# code lines to enter data scientist in the skill field
designation1 = driver.find_element(By.CLASS_NAME,"form-control  ")
designation1.send_keys('Data Scientist')

In [483]:
# code lines to enter bangalore in the location field
location1 = driver.find_element(By.XPATH,"/html/body/div[1]/div[4]/div/div[2]/div[2]/div/form/div/div[1]/ul/li[2]/div/input")
location1.send_keys('Bangalore')

In [485]:
#after selecting jobs related to data scientist jobs in bangalore 
search = driver.find_element(By.CLASS_NAME,"searchForm_btnWrap_advance__VYBHN")
search.click()

In [486]:
# initializing he variables to empty 
job_title1=[]
job_location1=[]
company_name1=[]

In [487]:
#scraping data of job_title
title_tags1 = driver.find_elements(By.XPATH,'//h2[@itemprop="name"]')
for i in title_tags1:
    job_title1.append(i.text)

In [488]:
print(len(job_title1))

20

In [489]:
job_title1

['Hiring For Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist - (BERT, NLP), Kubeflow (or) ML Ops',
 'Data Scientist Senior',
 'BGSW Sr Data Scientist Template',
 'Urgent applicants for Data Scientist for Battery Domain',
 'Data Scientist Architect',
 'CCB - Risk Data Scientist - Senior Associate',
 'Sr Data scientist',
 'Data Scientist - Engineer',
 'Cloud/D&A/Microsoft/AI - Data Scientist',
 'Data Scientist Sr Associate',
 'Wealth Management Data Scientist Associate',
 'Applied AI ML Lead - Lead Data Scientist',
 'Needy plz join for Senior Consultant/Manager - Data Sci ...',
 'For Senior Data Scientist-Reputed IT Industry',
 'Recruiting for GCP Data Scientist - Manager',
 'for Senior AI Data Scientist',
 'Post vacant for- Chief Data Scientist-Reputed IT Indust ...']

In [490]:
#scraping data of job_location
locations1 = driver.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_locationIcon__zrWt2"]')
for i in locations1:
    job_location1.append(i.text)

In [491]:
print(len(job_location1))

20

In [492]:
job_location1

['Bangalore\n+15',
 'Bangalore',
 'Bangalore',
 'Bangalore\n+7',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore\n+1',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore']

In [493]:
#scraping data of company_name
com_name1 = driver.find_elements(By.XPATH,'//div[@class="jobCard_jobCard_cName__mYnow"]')
for i in com_name1:
    company_name1.append(i.text)

In [494]:
print(len(company_name1))

20

In [495]:
company_name1

['niharika enterprises',
 'acme services private limited',
 'acme services private limited',
 'gfl recruitment private limited',
 'fidelity national information servi...',
 'bosch group',
 'bosch group',
 'fidelity national information servi...',
 'jpmorgan',
 'schneider electric',
 'mercede',
 'vega intellisoft private limited',
 'jpmorgan',
 'jpmorgan',
 'jpmorgan',
 'pylon management consulting',
 'seven consultancy',
 'pricewaterhousecoopers (pwc)',
 'seven consultancy',
 'seven consultancy']

In [496]:
import pandas as pd
df = pd.DataFrame({'Job Title': job_title1,'Location' :  job_location1,'Name of the company' : company_name1})
df[0:10]

,Job Title,Location,Name of the company
0,Hiring For Data Scientist,Bangalore\n+15,niharika enterprises
1,Data Scientist,Bangalore,acme services private limited
2,Data Scientist,Bangalore,acme services private limited
3,"Data Scientist - (BERT, NLP), Kubeflow (or) ML...",Bangalore\n+7,gfl recruitment private limited
4,Data Scientist Senior,Bangalore,fidelity national information servi...
5,BGSW Sr Data Scientist Template,Bangalore,bosch group
6,Urgent applicants for Data Scientist for Batte...,Bangalore,bosch group
7,Data Scientist Architect,Bangalore,fidelity national information servi...
8,CCB - Risk Data Scientist - Senior Associate,Bangalore,jpmorgan
9,Sr Data scientist,Bangalore,schneider electric

Q3: In this question you have to scrape data using the filters available on the webpage as shown below:
You have to use the location and salary filter.
You have to scrape data for “Data Scientist” designation for first 10 job results.
You have to scrape the job-title, job-location, company name, experience required. 
The location filter to be used is “Delhi/NCR”. The salary filter to be used is “3-6” lakhs
The task will be done as shown in the below steps:
1. first get thewebpage https://www.naukri.com/
2. Enter “Data Scientist” in “Skill, Designations, and Companies” field.
3. Then click the searchbutton.
4. Then apply the location filter and salary filter by checking the respectiveboxes
5. Then scrape the data for the first 10 jobs results youget.
6. Finally create a dataframe of the scrapeddata.

In [448]:
#connect to the driver
driver=webdriver.Chrome(r"C:\Users\tadis\OneDrive\Desktop\FRT Internship\chromedriver_win32\chromedriver.exe")

In [449]:
#opening shine webite
driver.get("https://www.shine.com/")
time.sleep(1)

In [451]:
#if any popup after opening shine website else proceed with following lines of code
pop_up =driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div/div/button')
pop_up.click()
time.sleep(3)

In [453]:
#code lines to open the designation location fields after curser on search bar
search = driver.find_element(By.XPATH,'/html/body/div[1]/header[2]/div[2]/div[1]/input')
search.click()

In [454]:
# code lines to selct data scientist as the skill field
designation2 = driver.find_element(By.CLASS_NAME,"form-control  ")
designation2.send_keys('Data Scientist')

In [457]:
#after selecting jobs related to data scientist jobs
search = driver.find_element(By.CLASS_NAME,"searchForm_btnWrap_advance__VYBHN")
search.click()

In [458]:
# code lines to select the location field
location2 = driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/div[4]/div/div[1]/div/div[2]/div/ul/li[1]/button')
location2.click()

In [459]:
#code lines to filter location as delhi
select_location = driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/div[4]/div/div[1]/div/div[2]/div[2]/div/div/div/div[3]/div/div/div/ul/li[7]/span/label')
select_location.click()

In [460]:
# code lines to select the salary field
salary = driver.find_element(By.XPATH,"/html/body/div[1]/div[1]/div[4]/div/div[1]/div/div[2]/div[2]/div/div/div/div[3]/div/ul/li[3]")
salary.click()

In [461]:
#code lines tp filter the salary as 3-5
select_salary = driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/div[4]/div/div[1]/div/div[2]/div[2]/div/div/div/div[3]/div/div/div/ul/li[3]/span/label')
select_salary.click()

In [462]:
# to seatch data according to the filter requirements
search = driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/div[4]/div/div[1]/div/div[2]/div[2]/div/div/div/div[4]/button[2]')
search.click()

In [463]:
# initializing he variables to empty 
job_title2=[]
job_location2=[]
company_name2=[]
experience_required2=[]

In [464]:
#scraping data of job_title
title_tags2 = driver.find_elements(By.XPATH,'//h2[@itemprop="name"]')
for i in title_tags2:
    job_title2.append(i.text)

In [465]:
#scraping data of job_location
locations2 = driver.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_locationIcon__zrWt2"]')
for i in locations2:
    job_location2.append(i.text)

In [466]:
#scraping data of company_name
com_name2 = driver.find_elements(By.XPATH,'//div[@class="jobCard_jobCard_cName__mYnow"]')
for i in com_name2:
    company_name2.append(i.text)

In [467]:
#scraping data of experience_required
exp_req2 = driver.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_jobIcon__3FB1t"]')
for i in exp_req2:
    experience_required2.append(i.text)

In [468]:
print(len(job_title2),len(job_location2),len(company_name2),len(experience_required2))

20 20 20 20

In [469]:
job_title2

['Req. For Data Scientist -Reputed Data Analytics Indust ...',
 'For Senior Data Scientist-Reputed IT Industry',
 'Req. now Data Scientist',
 'Req. post for Junior AI Data Scientist-Reputed IT Indu ...',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Sr Data Scientist',
 'Mahindra Comviva - Data Scientist',
 'Data Scientist',
 'ERP Operator Data Entry Operator-Male for Mayur Vihar P ...',
 'Data Scientist - FinTech',
 'Azure Data Engineer',
 'Data Scientist - FinTech',
 'Require for Data Analyst -Reputed IT Industry -Delhi NC ...',
 'Require For Senior Data Engineer Manager -Reputed IT I ...',
 'Microsave - Assistant Manager - Data & Inovation',
 'Req. For Data Analyst-Reputed IT Industry-Delhi NCR',
 'Data Engineer',
 'Data Science Professional']

In [470]:
job_location2

['Delhi',
 'Delhi',
 'Delhi',
 'Delhi',
 'Delhi\n+6',
 'Delhi\n+6',
 'Delhi',
 'Delhi',
 'Delhi\n+2',
 'Delhi',
 'Delhi',
 'Delhi\n+1',
 'Delhi\n+1',
 'Delhi\n+1',
 'Delhi',
 'Delhi',
 'Delhi',
 'Delhi',
 'Delhi',
 'Delhi\n+4']

In [471]:
company_name2

['seven consultancy',
 'seven consultancy',
 'seven consultancy',
 'seven consultancy',
 'quiscon biotech',
 'quiscon biotech',
 'srinsoft technologies',
 'target corporation india pvt ltd',
 'comviva',
 'skyleaf consultants',
 'farmers trading company',
 'hcapital business consulting privat...',
 'acme services private limited',
 'unnati',
 'seven consultancy',
 'seven consultancy',
 'msc (microsave consulting)',
 'seven consultancy',
 'arminus',
 'mackenzie modern it solutions priva...']

In [472]:
experience_required2

['2 to 6 Yrs',
 '4 to 8 Yrs',
 '3 to 5 Yrs',
 '1 to 3 Yrs',
 '0 to 1 Yr',
 '0 to 3 Yrs',
 '3 to 5 Yrs',
 '1 to 4 Yrs',
 '2 to 5 Yrs',
 '3 to 6 Yrs',
 '2 to 7 Yrs',
 '3 to 12 Yrs',
 '2 to 7 Yrs',
 '1 to 2 Yrs',
 '1 to 3 Yrs',
 '4 to 8 Yrs',
 '1 to 3 Yrs',
 '2 to 4 Yrs',
 '3 to 5 Yrs',
 '3 to 7 Yrs']

In [473]:
import pandas as pd
df = pd.DataFrame({'Job Title': job_title2,'Location' :  job_location2,'Name of the company' : company_name2,'Experience Required' : experience_required2})
df[0:10]

,Job Title,Location,Name of the company,Experience Required
0,Req. For Data Scientist -Reputed Data Analytic...,Delhi,seven consultancy,2 to 6 Yrs
1,For Senior Data Scientist-Reputed IT Industry,Delhi,seven consultancy,4 to 8 Yrs
2,Req. now Data Scientist,Delhi,seven consultancy,3 to 5 Yrs
3,Req. post for Junior AI Data Scientist-Reputed...,Delhi,seven consultancy,1 to 3 Yrs
4,Data Scientist,Delhi\n+6,quiscon biotech,0 to 1 Yr
5,Data Scientist,Delhi\n+6,quiscon biotech,0 to 3 Yrs
6,Data Scientist,Delhi,srinsoft technologies,3 to 5 Yrs
7,Sr Data Scientist,Delhi,target corporation india pvt ltd,1 to 4 Yrs
8,Mahindra Comviva - Data Scientist,Delhi\n+2,comviva,2 to 5 Yrs
9,Data Scientist,Delhi,skyleaf consultants,3 to 6 Yrs

Q4: Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:
1. Brand
2. ProductDescription
3. Price
The attributes which you have to scrape is ticked marked in the below image.

To scrape the data you have to go through following steps:
1. Go to Flipkart webpage by url :https://www.flipkart.com/
2. Enter “sunglasses” in the search field where “search for products, brands and more” is written and 
click the search icon
3. After that you will reach to the page having a lot of sunglasses. From this page you can scrap the 
required data asusual.
4. After scraping data from the first page, go to the “Next” Button at the bottom other page , then
click on it.
5. Now scrape data from this page asusual
6. Repeat this until you get data for 100sunglasses.

In [437]:
#connecting to webdriver
driver=webdriver.Chrome(r"C:\Users\tadis\OneDrive\Desktop\FRT Internship\chromedriver_win32\chromedriver.exe")

In [438]:
#opening flipkart
url="https://www.flipkart.com/"
driver.get(url)

In [439]:
#code lines to remove the login pop-up window
pop_up =driver.find_element(By.XPATH,'/html/body/div[2]/div/div/button')
pop_up.click()

In [440]:
#entering the sunglasses product in search field
search_product=driver.find_element(By.CLASS_NAME,"_3704LK")
search_product.send_keys('sunglasses')

In [441]:
#searching the sunglasses 
search = driver.find_element(By.CLASS_NAME,"_34RNph")
search.click()

In [442]:
brand = []
product_description = []
price = []

In [443]:
#scraping brand details
start = 0 
end = 3
for page in range(start,end):
    brand_name = driver.find_elements(By.CLASS_NAME,"_2WkVRV")
    for i in brand_name:
        brand.append(i.text)
    next_button = driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    next_button.click()
    time.sleep(3)

In [444]:
#scraping product descriptions
start = 0 
end = 3
for page in range(start,end):
    p_des = driver.find_elements(By.CLASS_NAME,"IRpwTa")
    for i in p_des:
        product_description.append(i.text)
    next_button = driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    next_button.click()
    time.sleep(3)

In [445]:
#scraping prices
start = 0 
end = 3
for page in range(start,end):
    prices = driver.find_elements(By.XPATH,"//div[@class='_30jeq3']")
    for i in prices:
        price.append(i.text)
    next_button = driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    next_button.click()
    time.sleep(3)

In [446]:
 print(len(brand),len(product_description),len(price))

120 120 120

In [447]:
import pandas as pd
df = pd.DataFrame({'Brand': brand,'Product Description' : product_description,'Price' : price})
df[0:100]

             Brand                                Product Description Price
0           OAKLEY  Others Cat-eye, Retro Square, Wayfarer Sunglas...  ₹249
1   ROZZETTA CRAFT  Gradient, UV Protection Wayfarer Sunglasses (F...  ₹236
2         Fastrack  UV Protection, Polarized Wayfarer Sunglasses (...  ₹499
3             SRPM      UV Protection Wayfarer Sunglasses (Free Size)  ₹216
4        Elligator                 Polarized Wayfarer Sunglasses (55)  ₹239
..             ...                                                ...   ...
95        Fastrack  by Lenskart Polarized, UV Protection Wayfarer ...  ₹551
96        Fastrack  Gradient, UV Protection Wayfarer Sunglasses (F...  ₹919
97        Fastrack  UV Protection, Polarized Wayfarer Sunglasses (...  ₹149
98        Fastrack                 Polarized Wayfarer Sunglasses (55)  ₹214
99     like future  UV Protection Rectangular, Retro Square Sungla...  ₹598

[100 rows x 3 columns]

Q5: Scrape 100 reviews data from flipkart.com for iphone11 phone. You have to go the link: 
https://www.flipkart.com/apple-iphone-11-black-64-gb/productreviews/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&market
place=FLIPKART

As shown in the above page you have to scrape the tick marked attributes. These are:
1. Rating
2. Review summary
3. Full review
4. You have to scrape this data for first 100reviews.

In [409]:
#connecting to webdriver
driver=webdriver.Chrome(r"C:\Users\tadis\OneDrive\Desktop\FRT Internship\chromedriver_win32\chromedriver.exe")

In [410]:
url1="https://www.flipkart.com/apple-iphone-11-black-64-gb/product-reviews/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&marketplace=FLIPKART"
driver.get(url1)

In [411]:
rating = []
review_summary = []
full_review = []

In [412]:
#code lines to print 100 ratings of iphone
start = 0
end = 10
for page  in range(start,end):
    rate = driver.find_elements(By.XPATH,"//div[@class='_3LWZlK _1BLPMq']")
    for i in rate:
        rating.append(i.text)
    next_button = driver.find_element(By.CLASS_NAME,"_1LKTO3")
    next_button.click()
    time.sleep(2)

In [413]:
print(len(rating))

100

In [414]:
rating

['5',
 '5',
 '5',
 '4',
 '5',
 '5',
 '4',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '4',
 '5',
 '5',
 '5',
 '4',
 '5',
 '5',
 '5',
 '5',
 '4',
 '5',
 '5',
 '4',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '4',
 '5',
 '5',
 '5',
 '4',
 '5',
 '5',
 '5',
 '5',
 '4',
 '5',
 '5',
 '4',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '4',
 '5',
 '5',
 '5',
 '4',
 '5',
 '5',
 '5',
 '5',
 '4',
 '5',
 '5',
 '4',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '4',
 '5',
 '5',
 '5',
 '4',
 '5',
 '5',
 '5',
 '5',
 '4',
 '5',
 '5',
 '4',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '4',
 '5',
 '5',
 '5',
 '4',
 '5']

In [415]:
#code lines to print 100 review summary of iphone
start = 0
end = 10
for page  in range(start,end):
    review_sum = driver.find_elements(By.XPATH,"//p[@class='_2-N8zT']")
    for i in review_sum:
        review_summary.append(i.text)
    next_button = driver.find_element(By.CLASS_NAME,"_1LKTO3")
    next_button.click()
    time.sleep(2)

In [416]:
print(len(review_summary))

100

In [417]:
review_summary

['Simply awesome',
 'Perfect product!',
 'Best in the market!',
 'Value-for-money',
 'Highly recommended',
 'Worth every penny',
 'Pretty good',
 'Perfect product!',
 'Highly recommended',
 'Great product',
 'Fabulous!',
 'Classy product',
 'Worth every penny',
 'Perfect product!',
 'Good choice',
 'Perfect product!',
 'Highly recommended',
 'Highly recommended',
 'Value-for-money',
 'Perfect product!',
 'Simply awesome',
 'Perfect product!',
 'Best in the market!',
 'Value-for-money',
 'Highly recommended',
 'Worth every penny',
 'Pretty good',
 'Perfect product!',
 'Highly recommended',
 'Great product',
 'Fabulous!',
 'Classy product',
 'Worth every penny',
 'Perfect product!',
 'Good choice',
 'Perfect product!',
 'Highly recommended',
 'Highly recommended',
 'Value-for-money',
 'Perfect product!',
 'Simply awesome',
 'Perfect product!',
 'Best in the market!',
 'Value-for-money',
 'Highly recommended',
 'Worth every penny',
 'Pretty good',
 'Perfect product!',
 'Highly recommended',
 'Great product',
 'Fabulous!',
 'Classy product',
 'Worth every penny',
 'Perfect product!',
 'Good choice',
 'Perfect product!',
 'Highly recommended',
 'Highly recommended',
 'Value-for-money',
 'Perfect product!',
 'Simply awesome',
 'Perfect product!',
 'Best in the market!',
 'Value-for-money',
 'Highly recommended',
 'Worth every penny',
 'Pretty good',
 'Perfect product!',
 'Highly recommended',
 'Great product',
 'Fabulous!',
 'Classy product',
 'Worth every penny',
 'Perfect product!',
 'Good choice',
 'Perfect product!',
 'Highly recommended',
 'Highly recommended',
 'Value-for-money',
 'Perfect product!',
 'Simply awesome',
 'Perfect product!',
 'Best in the market!',
 'Value-for-money',
 'Highly recommended',
 'Worth every penny',
 'Pretty good',
 'Perfect product!',
 'Highly recommended',
 'Great product',
 'Fabulous!',
 'Classy product',
 'Worth every penny',
 'Perfect product!',
 'Good choice',
 'Perfect product!',
 'Highly recommended',
 'Highly recommended',
 'Value-for-money',
 'Perfect product!']

In [421]:
# code lines to print 100 full_reviews of iphone
start = 0
end = 10
for page  in range(start,end):
    full_rev = driver.find_elements(By.XPATH,"//div[@class='t-ZTKy']")
    for i in full_rev:
        full_review.append(i.text)
    next_button = driver.find_element(By.CLASS_NAME,"_1LKTO3")
    next_button.click()
    time.sleep(2)

In [422]:
print(len(full_review))

100

In [423]:
full_review

['Really satisfied with the Product I received... It’s totally genuine and the packaging was also really good so if ur planning to buy just go for it.',
 'Amazing phone with great cameras and better battery which gives you the best performance. I just love the camera .',
 'Great iPhone very snappy experience as apple kind. Upgraded from iPhone 7.\nPros\n-Camera top class\n- Battery top performed\n-Chipset no need to say as apple kind\n-Security as you expect from apple\n- Display super bright industry leading colour\naccuracy and super responsive\n-Build quality as expect from apple sturdy\npremium durable beautiful stylish.\n-Os most stable os in smartphone industry\n\nCons\n-No 5G\n-Display is not based on OLED technology\n-Charger headphones and 1 apple stic...\nREAD MORE',
 "I'm Really happy with the product\nDelivery was fast as well\n..it was a gift for my sister and she loved it so much.",
 "It's my first time to use iOS phone and I am loving my upgradation 😍😍 I love the color, I love the assebility of the phone....I need to learn more about its functionality, but as far as I have seen, it's quite easy and it has a lot of functions to work on, specially if you are a content writer or a blogger you get a lot of content creation platforms and they are really amazing.\n\nThis phone not only for good quality photography but a lot of other task too.😍💯",
 'Previously I was using one plus 3t it was a great phone\nAnd then I decided to upgrade I am stuck between Samsung s10 plus or iPhone 11\nI have seen the specs and everything were good except the display it’s somewhere between 720-1080 and it’s not even an amoled it’s an LCD display\nBut I decided to go with iPhone because I have never used an IOS device I have Been an android user from the past 9 years I ordered IPhone 11 (128gb) product red\nMy experience after using 3 weeks\n1. The delivery ...\nREAD MORE',
 'I was using Iphone 6s and also Oneplus 6t. Both mobiles were perfectly alright in Photos, gaming, and smooth interface . My 6s mobile getting battery issue. thought upgrade to 11. Really like this mobile of its Internal storage (compare to 6s) , camera and its touch feeling. Its a worth buying mobile for me.',
 'Value for money\n5 star rating\nExcellent camera\nBattery backup full day in single charge.\n\nTougher and water resistant design, glossy back.\nThe screen has excellent brightness and contrast.\nApple A13 Bionic is the fastest smartphone chip on the planet.\nExcellent battery life, fast charging support.\nStereo speakers with great quality.',
 'What a camera .....just awesome ..you can feel this iPhone just awesome . Good for gaming also ...try pubg in hd it’s just wow',
 'Amazing Powerful and Durable Gadget.\n\nI’m am very happy with the camera picture quality, Amazing face id unlocked in dark room, Strong battery with perfect screen size as you can carry easily in pocket. This is my third iPhone.\n\nI shifted from android Samsung Note series to iPhone because of the strong build quality and peace of mind for next 3-4 years.\n\nDon’t think to much just go for it and I suggest you to go for minimum 128gb variant or more 256gb.\n\nI’ve attached my puppy pics and no fi...\nREAD MORE',
 'This is my first iOS phone. I am very happy with this product. Very much satisfied with this. I love this phone.',
 'Best and amazing product.....phone looks so premium.... battary is also good as expected .... Wide angle camera is so addictive ...if you are a IOS lover....then this phone will be the best choice for you all!!💯🔥',
 'i11 is worthy to buy, too much happy with the product. Thank u flipkart I received the item on time..loved it..',
 'It’s a must buy who is looking for an upgrade from previous generation of iPhones. If you are using XR then still you can hold on for sometime and upgrade to 2020 model else this phone is a must buy . Camera quality is amazing and wide angle is something to count upon. Performance wise it’s amazing and feels premium while holding in hand. So a big YES for this device. Go for 128 GB variant as the 4K videos will occupy lots of space and the storage can get over very quickly. Try to buy it with...\nREAD MORE',
 'So far it’s been an AMAZING experience coming back to iOS after nearly a decade but it’s not as versatile as android though phone is sturdy dropped it accidentally a couple of times and nothing happened fortunately camera is awesome',
 'Value for money❤️❤️\nIts awesome mobile phone in the world ...\nDisplay was very good and bright ..\nTrust me freinds you r never regret after Buying..\nJust go for it....\nI love this phone and i switch to iphone x to 11',
 'iphone 11 is a very good phone to buy only if you can compromise for the display. The display on this is device is pretty good but you can get other options with better displays in this price segment.\nIf you can survive with an HD+ LCD panel with thicker bezels and a notch up top then this is a very good phone for you.\nCameras are awesome, battery backup excellent, great performance and a decent premium look. Good job Apple !',
 'Amazing camera quality as expected, battery also has very good performance. Display, body, and touch experience is the best I’ve ever had. Sound quality of speakers is more than sufficient. Apple is known for it’s customer friendly security services and I can see it how. The A13 processor is the best in its work. So I would definitely recommend it for everyone who are looking for it, just go for it without delay.\n\nThe most amazing thing it the delivery. Flipkart has delivered it in the span ...\nREAD MORE',
 "Just got this iphone 11\nAnd it is most powerful mobile phone I have used ever\n\nSo,go for it if you want a phone with best specification like camera,battery backup,display, A13 bionic chip\n\nThat's my review about this phone but yours can be differ from me....",
 'It is just awesome mobile for this price from Apple,\n\nAfter 10 days review\n\nBattery enough for 1 day even 24*7 Internet will be on and mostly internet usage\n\nCamera is just awesome cool , android 64 MP is equal to this just 12 MP\n\nA13 Bionic chip will give more high performance without hanging\n\nAudio stereo speakers will give Dolby atoms sound with crystal clear\n\nVideo recording is like cinematic shots of every sec can be a 4K 60fps. Just awesome this phone\niPhone 11 loved one',
 'Really satisfied with the Product I received... It’s totally genuine and the packaging was also really good so if ur planning to buy just go for it.',
 'Amazing phone with great cameras and better battery which gives you the best performance. I just love the camera .',
 'Great iPhone very snappy experience as apple kind. Upgraded from iPhone 7.\nPros\n-Camera top class\n- Battery top performed\n-Chipset no need to say as apple kind\n-Security as you expect from apple\n- Display super bright industry leading colour\naccuracy and super responsive\n-Build quality as expect from apple sturdy\npremium durable beautiful stylish.\n-Os most stable os in smartphone industry\n\nCons\n-No 5G\n-Display is not based on OLED technology\n-Charger headphones and 1 apple stic...\nREAD MORE',
 "I'm Really happy with the product\nDelivery was fast as well\n..it was a gift for my sister and she loved it so much.",
 "It's my first time to use iOS phone and I am loving my upgradation 😍😍 I love the color, I love the assebility of the phone....I need to learn more about its functionality, but as far as I have seen, it's quite easy and it has a lot of functions to work on, specially if you are a content writer or a blogger you get a lot of content creation platforms and they are really amazing.\n\nThis phone not only for good quality photography but a lot of other task too.😍💯",
 'Previously I was using one plus 3t it was a great phone\nAnd then I decided to upgrade I am stuck between Samsung s10 plus or iPhone 11\nI have seen the specs and everything were good except the display it’s somewhere between 720-1080 and it’s not even an amoled it’s an LCD display\nBut I decided to go with iPhone because I have never used an IOS device I have Been an android user from the past 9 years I ordered IPhone 11 (128gb) product red\nMy experience after using 3 weeks\n1. The delivery ...\nREAD MORE',
 'I was using Iphone 6s and also Oneplus 6t. Both mobiles were perfectly alright in Photos, gaming, and smooth interface . My 6s mobile getting battery issue. thought upgrade to 11. Really like this mobile of its Internal storage (compare to 6s) , camera and its touch feeling. Its a worth buying mobile for me.',
 'Value for money\n5 star rating\nExcellent camera\nBattery backup full day in single charge.\n\nTougher and water resistant design, glossy back.\nThe screen has excellent brightness and contrast.\nApple A13 Bionic is the fastest smartphone chip on the planet.\nExcellent battery life, fast charging support.\nStereo speakers with great quality.',
 'What a camera .....just awesome ..you can feel this iPhone just awesome . Good for gaming also ...try pubg in hd it’s just wow',
 'Amazing Powerful and Durable Gadget.\n\nI’m am very happy with the camera picture quality, Amazing face id unlocked in dark room, Strong battery with perfect screen size as you can carry easily in pocket. This is my third iPhone.\n\nI shifted from android Samsung Note series to iPhone because of the strong build quality and peace of mind for next 3-4 years.\n\nDon’t think to much just go for it and I suggest you to go for minimum 128gb variant or more 256gb.\n\nI’ve attached my puppy pics and no fi...\nREAD MORE',
 'This is my first iOS phone. I am very happy with this product. Very much satisfied with this. I love this phone.',
 'Best and amazing product.....phone looks so premium.... battary is also good as expected .... Wide angle camera is so addictive ...if you are a IOS lover....then this phone will be the best choice for you all!!💯🔥',
 'i11 is worthy to buy, too much happy with the product. Thank u flipkart I received the item on time..loved it..',
 'It’s a must buy who is looking for an upgrade from previous generation of iPhones. If you are using XR then still you can hold on for sometime and upgrade to 2020 model else this phone is a must buy . Camera quality is amazing and wide angle is something to count upon. Performance wise it’s amazing and feels premium while holding in hand. So a big YES for this device. Go for 128 GB variant as the 4K videos will occupy lots of space and the storage can get over very quickly. Try to buy it with...\nREAD MORE',
 'So far it’s been an AMAZING experience coming back to iOS after nearly a decade but it’s not as versatile as android though phone is sturdy dropped it accidentally a couple of times and nothing happened fortunately camera is awesome',
 'Value for money❤️❤️\nIts awesome mobile phone in the world ...\nDisplay was very good and bright ..\nTrust me freinds you r never regret after Buying..\nJust go for it....\nI love this phone and i switch to iphone x to 11',
 'iphone 11 is a very good phone to buy only if you can compromise for the display. The display on this is device is pretty good but you can get other options with better displays in this price segment.\nIf you can survive with an HD+ LCD panel with thicker bezels and a notch up top then this is a very good phone for you.\nCameras are awesome, battery backup excellent, great performance and a decent premium look. Good job Apple !',
 'Amazing camera quality as expected, battery also has very good performance. Display, body, and touch experience is the best I’ve ever had. Sound quality of speakers is more than sufficient. Apple is known for it’s customer friendly security services and I can see it how. The A13 processor is the best in its work. So I would definitely recommend it for everyone who are looking for it, just go for it without delay.\n\nThe most amazing thing it the delivery. Flipkart has delivered it in the span ...\nREAD MORE',
 "Just got this iphone 11\nAnd it is most powerful mobile phone I have used ever\n\nSo,go for it if you want a phone with best specification like camera,battery backup,display, A13 bionic chip\n\nThat's my review about this phone but yours can be differ from me....",
 'It is just awesome mobile for this price from Apple,\n\nAfter 10 days review\n\nBattery enough for 1 day even 24*7 Internet will be on and mostly internet usage\n\nCamera is just awesome cool , android 64 MP is equal to this just 12 MP\n\nA13 Bionic chip will give more high performance without hanging\n\nAudio stereo speakers will give Dolby atoms sound with crystal clear\n\nVideo recording is like cinematic shots of every sec can be a 4K 60fps. Just awesome this phone\niPhone 11 loved one',
 'Really satisfied with the Product I received... It’s totally genuine and the packaging was also really good so if ur planning to buy just go for it.',
 'Amazing phone with great cameras and better battery which gives you the best performance. I just love the camera .',
 'Great iPhone very snappy experience as apple kind. Upgraded from iPhone 7.\nPros\n-Camera top class\n- Battery top performed\n-Chipset no need to say as apple kind\n-Security as you expect from apple\n- Display super bright industry leading colour\naccuracy and super responsive\n-Build quality as expect from apple sturdy\npremium durable beautiful stylish.\n-Os most stable os in smartphone industry\n\nCons\n-No 5G\n-Display is not based on OLED technology\n-Charger headphones and 1 apple stic...\nREAD MORE',
 "I'm Really happy with the product\nDelivery was fast as well\n..it was a gift for my sister and she loved it so much.",
 "It's my first time to use iOS phone and I am loving my upgradation 😍😍 I love the color, I love the assebility of the phone....I need to learn more about its functionality, but as far as I have seen, it's quite easy and it has a lot of functions to work on, specially if you are a content writer or a blogger you get a lot of content creation platforms and they are really amazing.\n\nThis phone not only for good quality photography but a lot of other task too.😍💯",
 'Previously I was using one plus 3t it was a great phone\nAnd then I decided to upgrade I am stuck between Samsung s10 plus or iPhone 11\nI have seen the specs and everything were good except the display it’s somewhere between 720-1080 and it’s not even an amoled it’s an LCD display\nBut I decided to go with iPhone because I have never used an IOS device I have Been an android user from the past 9 years I ordered IPhone 11 (128gb) product red\nMy experience after using 3 weeks\n1. The delivery ...\nREAD MORE',
 'I was using Iphone 6s and also Oneplus 6t. Both mobiles were perfectly alright in Photos, gaming, and smooth interface . My 6s mobile getting battery issue. thought upgrade to 11. Really like this mobile of its Internal storage (compare to 6s) , camera and its touch feeling. Its a worth buying mobile for me.',
 'Value for money\n5 star rating\nExcellent camera\nBattery backup full day in single charge.\n\nTougher and water resistant design, glossy back.\nThe screen has excellent brightness and contrast.\nApple A13 Bionic is the fastest smartphone chip on the planet.\nExcellent battery life, fast charging support.\nStereo speakers with great quality.',
 'What a camera .....just awesome ..you can feel this iPhone just awesome . Good for gaming also ...try pubg in hd it’s just wow',
 'Amazing Powerful and Durable Gadget.\n\nI’m am very happy with the camera picture quality, Amazing face id unlocked in dark room, Strong battery with perfect screen size as you can carry easily in pocket. This is my third iPhone.\n\nI shifted from android Samsung Note series to iPhone because of the strong build quality and peace of mind for next 3-4 years.\n\nDon’t think to much just go for it and I suggest you to go for minimum 128gb variant or more 256gb.\n\nI’ve attached my puppy pics and no fi...\nREAD MORE',
 'This is my first iOS phone. I am very happy with this product. Very much satisfied with this. I love this phone.',
 'Best and amazing product.....phone looks so premium.... battary is also good as expected .... Wide angle camera is so addictive ...if you are a IOS lover....then this phone will be the best choice for you all!!💯🔥',
 'i11 is worthy to buy, too much happy with the product. Thank u flipkart I received the item on time..loved it..',
 'It’s a must buy who is looking for an upgrade from previous generation of iPhones. If you are using XR then still you can hold on for sometime and upgrade to 2020 model else this phone is a must buy . Camera quality is amazing and wide angle is something to count upon. Performance wise it’s amazing and feels premium while holding in hand. So a big YES for this device. Go for 128 GB variant as the 4K videos will occupy lots of space and the storage can get over very quickly. Try to buy it with...\nREAD MORE',
 'So far it’s been an AMAZING experience coming back to iOS after nearly a decade but it’s not as versatile as android though phone is sturdy dropped it accidentally a couple of times and nothing happened fortunately camera is awesome',
 'Value for money❤️❤️\nIts awesome mobile phone in the world ...\nDisplay was very good and bright ..\nTrust me freinds you r never regret after Buying..\nJust go for it....\nI love this phone and i switch to iphone x to 11',
 'iphone 11 is a very good phone to buy only if you can compromise for the display. The display on this is device is pretty good but you can get other options with better displays in this price segment.\nIf you can survive with an HD+ LCD panel with thicker bezels and a notch up top then this is a very good phone for you.\nCameras are awesome, battery backup excellent, great performance and a decent premium look. Good job Apple !',
 'Amazing camera quality as expected, battery also has very good performance. Display, body, and touch experience is the best I’ve ever had. Sound quality of speakers is more than sufficient. Apple is known for it’s customer friendly security services and I can see it how. The A13 processor is the best in its work. So I would definitely recommend it for everyone who are looking for it, just go for it without delay.\n\nThe most amazing thing it the delivery. Flipkart has delivered it in the span ...\nREAD MORE',
 "Just got this iphone 11\nAnd it is most powerful mobile phone I have used ever\n\nSo,go for it if you want a phone with best specification like camera,battery backup,display, A13 bionic chip\n\nThat's my review about this phone but yours can be differ from me....",
 'It is just awesome mobile for this price from Apple,\n\nAfter 10 days review\n\nBattery enough for 1 day even 24*7 Internet will be on and mostly internet usage\n\nCamera is just awesome cool , android 64 MP is equal to this just 12 MP\n\nA13 Bionic chip will give more high performance without hanging\n\nAudio stereo speakers will give Dolby atoms sound with crystal clear\n\nVideo recording is like cinematic shots of every sec can be a 4K 60fps. Just awesome this phone\niPhone 11 loved one',
 'Really satisfied with the Product I received... It’s totally genuine and the packaging was also really good so if ur planning to buy just go for it.',
 'Amazing phone with great cameras and better battery which gives you the best performance. I just love the camera .',
 'Great iPhone very snappy experience as apple kind. Upgraded from iPhone 7.\nPros\n-Camera top class\n- Battery top performed\n-Chipset no need to say as apple kind\n-Security as you expect from apple\n- Display super bright industry leading colour\naccuracy and super responsive\n-Build quality as expect from apple sturdy\npremium durable beautiful stylish.\n-Os most stable os in smartphone industry\n\nCons\n-No 5G\n-Display is not based on OLED technology\n-Charger headphones and 1 apple stic...\nREAD MORE',
 "I'm Really happy with the product\nDelivery was fast as well\n..it was a gift for my sister and she loved it so much.",

In [425]:
import pandas as pd 
df = pd.DataFrame({'Ratings' : rating,' Review Summary' : review_summary,'Full Review' : full_review})
df

,Ratings,Review Summary,Full Review
0,5,Simply awesome,Really satisfied with the Product I received.....
1,5,Perfect product!,Amazing phone with great cameras and better ba...
2,5,Best in the market!,Great iPhone very snappy experience as apple k...
3,4,Value-for-money,I'm Really happy with the product\nDelivery wa...
4,5,Highly recommended,It's my first time to use iOS phone and I am l...
...,...,...,...
95,5,Perfect product!,Value for money❤️❤️\nIts awesome mobile phone ...
96,5,Highly recommended,iphone 11 is a very good phone to buy only if ...
97,5,Highly recommended,"Amazing camera quality as expected, battery al..."
98,4,Value-for-money,Just got this iphone 11\nAnd it is most powerf...
99,5,Perfect product!,It is just awesome mobile for this price from ...

Q6: Scrape data forfirst 100 sneakers you find when you visit flipkart.com and search for “sneakers” in the 
search field.
You have to scrape 3 attributes of each sneaker:
1. Brand
2. ProductDescription
3. Price
As shown in the below image, you have to scrape the above attributes

In [426]:
#connecting to webdriver
driver=webdriver.Chrome(r"C:\Users\tadis\OneDrive\Desktop\FRT Internship\chromedriver_win32\chromedriver.exe")

In [427]:
#opening flipkart
url="https://www.flipkart.com/"
driver.get(url)

In [428]:
#code lines to remove the login pop-up window
pop_up =driver.find_element(By.XPATH,'/html/body/div[2]/div/div/button')
pop_up.click()

In [429]:
#entering the sneakers product in search field
search_job=driver.find_element(By.CLASS_NAME,"_3704LK")
search_job.send_keys('sneakers')

In [430]:
#searching for sneakers product
search = driver.find_element(By.CLASS_NAME,"_34RNph")
search.click()

In [431]:
brand = []
product_description = []
price = []

In [432]:
#scraping brand details
start = 0 
end = 3
for page in range(start,end):
    brand_name = driver.find_elements(By.CLASS_NAME,"_2WkVRV")
    for i in brand_name:
        brand.append(i.text)
    next_button = driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    next_button.click()
    time.sleep(3)

In [433]:
#scraping product descriptions
start = 0 
end = 3
for page in range(start,end):
    p_des = driver.find_elements(By.CLASS_NAME,"IRpwTa")
    for i in p_des:
        product_description.append(i.text)
    next_button = driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    next_button.click()
    time.sleep(3)

In [434]:
#scraping prices
start = 0 
end = 3
for page in range(start,end):
    prices = driver.find_elements(By.XPATH,"//div[@class='_30jeq3']")
    for i in prices:
        price.append(i.text)
    next_button = driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    next_button.click()
    time.sleep(3)

In [435]:
print(len(brand),len(product_description),len(price))

120 120 120

In [436]:
import pandas as pd
df = pd.DataFrame({'Brand': brand,'Product Description' : product_description,'Price' : price})
df[0:100]

          Brand                                Product Description   Price
0          aadi  2006 Trenddy Fashion Sporty Casuals Sneakers R...    ₹379
1           SFR  Stylish & Trending Outdoor Walking Comfortable...    ₹349
2          PUMA  Stylish and Comfirtable Shoes For Mens Sneaker...    ₹999
3          PUMA                                   Sneakers For Men  ₹1,074
4         BIRDE  Men White Urban Street Athleisure Shoes Sneake...    ₹479
..          ...                                                ...     ...
95       BRUTON                  RS-Z Reinvention Sneakers For Men    ₹229
96  kardam&sons  Men Combo Pack of 2 Sports Shoes & Casual Snea...    ₹399
97       BRUTON  Fashionable Canvas Casual Partywear Outdoor Sn...    ₹399
98         PUMA                                   Sneakers For Men  ₹1,499
99         aadi  kardam&sons luxury fashionable Stylish Light W...    ₹349

[100 rows x 3 columns]